/* write your own properties*/
h1{
    color: rgb(255, 208, 0);
    background-color:rgb(228, 103, 103);
    padding: 10px;
}
div{
background-color: rgb(140, 170, 160);
color: beige;
background-image:url(../yoghurt.jpg);
}
